 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 /*  
   box-sizing : phan tu cua minh giu
   nguyen kich thuoc mac du cong them
   padding va border  
 */


 .weather-page {
     height: 100vh;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
     font-family: sans-serif;
     color: white;
 }

 .location,
 .temperature {
     height: 30vh;
     width: 50%;
     display: flex;
     justify-content: space-around;
     align-items: center;
 }

 .temperature {
     flex-direction: column;
 }

 .degree-section {
     display: flex;
     align-items: center;
     cursor: pointer;
 }


 .degree-section span {
     margin: 10px;
     font-size: 30px;
 }

 .degree-section h2 {
     font-size: 40px;

 }

 .current-day {
     font-size: 28px;
 }

 /*
   display : flex;  
   Để kích hoạt phần tử chứa có tính
   năng flexbox chỉ cần thiết lập cho
   nó thuộc tính display: flex;
   hoặc display: inline-flex;
   Khi phần tử đã kích hoạt flexbox thì
   điều khiển các phần tử con bằng các 
   thuộc tính: flex-direction flex-wrap
   
   height : 100vh; 
   1 vw=1% chiều ngang của trình duyệt. 
   1 vh=1% chiều cao của trình duyệt.
   
   justify-content: Nó nhận các giá 
   trị để đẩy các phần tử trôi về phía 
   nào đó của hướng chính
  
       
   flex-direction : cac muc duoc sap xep
   theo thu tu tu tren xuong duoi (cột)

   align-items : Nó nhận các giá trị để điều
   khiển phần tử con theo hướng Vuông góc hướng chính
*/