.sidebar,
.image-sidebar,
.image-sidebar-son {
    position: fixed;
    height: 100vh;
    background: #151719;
    transition: all 500ms linear;
}

.sidebar {
    left: -200px;
    width: 200px;
}

.sidebar ul a {
    color: inherit;
    text-decoration: none;
}

.sidebar ul li {
    color: rgba(230, 230, 230, 0.9);
    font-size: 20px;
    list-style: none;
    padding: 15px 10px;
    border-bottom: 1px solid rgba(100, 100, 100, 0.3);
}

.sidebar.active {
    left: 0px;
}

.sidebar .toggle-btn,
.image-sidebar .img-toggle-btn {
    position: absolute;
    top: 20px;
    cursor: pointer;
}

.sidebar .toggle-btn {
    left: 230px;
}

.sidebar .toggle-btn span {
    display: block;
    width: 30px;
    height: 5px;
    background: aliceblue;
    margin: 3px 0px;
    border-radius: 2px;
}